@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-text {
  background: linear-gradient(to right, #01bfff, #017ffe, #003aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold; /* Optional: make it bold */
}
/* styles/globals.css or a specific CSS module */
.gradient-button {
  background: linear-gradient(to right, #01bfff, #017ffe, #003aff);
  border: none; /* Remove default border */
  color: white; /* Text color */
  padding: 16px 34px; /* Adjust padding (py-6 px-4) */
  border-radius: 0.3rem; /* Rounded corners */
  font-size: 13px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor on hover */
  transition: background 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 12px rgba(0, 135, 255, 0.5);
}

.gradient-button:hover {
  background: linear-gradient(
    to right,
    #0069ff,
    #0093ff,
    #64ebff
  ); /* Optional hover effect */
}
